[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "==12.1.0"
PyQt6 = "==6.3.0"
auto-py-to-exe = "*"
youtube-dl = "==2021.12.17"

[dev-packages]

[requires]
python_version = "3.8"
